@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --boxShadowWidth:25px
}
html,body{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    height: 100vh;
}

.um-gradient-text {
    background: -webkit-linear-gradient(45deg, rgb(59, 14, 242), rgb(136, 0, 209));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.customForm {
    border: 2px solid;
    border-image: linear-gradient(45deg, rgb(59, 14, 242), rgb(136, 0, 209)) 1;
    border-radius: 14px;
    box-shadow: 0 0 var(--boxShadowWidth) 0 rgba(59, 14, 242, 0.7), 0 0 var(--boxShadowWidth) 0 rgba(136, 0, 209, 0.7);
    animation: changeGradient 7s infinite alternate, changeShadow 7s infinite alternate;
}


@keyframes changeGradient {
    0% {
        border-image: linear-gradient(45deg, rgb(59, 14, 242), rgb(136, 0, 209)) 1;
    }
    50% {
        border-image: linear-gradient(45deg, rgb(242, 14, 14), rgb(0, 136, 209)) 1;
    }
    100% {
        border-image: linear-gradient(45deg, rgb(59, 242, 14), rgb(209, 0, 136)) 1;
    }
}

@keyframes changeShadow {
    0% {
        box-shadow: 0 0 var(--boxShadowWidth) 0 rgba(59, 14, 242, 0.7), 0 0 var(--boxShadowWidth) 0 rgba(136, 0, 209, 0.7);
    }
    50% {
        box-shadow: 0 0 var(--boxShadowWidth) 0 rgba(242, 14, 14, 0.7), 0 0 var(--boxShadowWidth) 0 rgba(0, 136, 209, 0.7);
    }
    100% {
        box-shadow: 0 0 var(--boxShadowWidth) 0 rgba(59, 242, 14, 0.7), 0 0 var(--boxShadowWidth) 0 rgba(209, 0, 136, 0.7);
    }
}


input:focus{
    outline: none;
}

.card{
    min-height: 200px;
}
.overlay{
    background-color: rgba(31, 22, 22, 0.644);
}

.overlayItem{
    box-shadow:
      0 0 30px #7b0fff,   /* Main glowing shadow */
      0 0 60px #7b0fff,   /* Medium glow */
      0 0 90px #7b0fff,   /* Slight outer glow */
      0 0 120px #7b0fff;  /* Outermost glow */
    overflow:auto;
}


.titleH1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    /* background-color: #ebebeb; */
    background-color: black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #7b0fff; 
}

.border-b-2{
    border-bottom-width: 1px;
}
.dropz{
    box-shadow: 0 0 10px 5px white;
}


.loading
{
width: 100px;
height: 50px;
position: relative;
margin: 50px auto;
}
.loading span
{
width: 10px;
height: 20px;
bottom: 0;
position: absolute;
display: block;
background-color: #800068;
-webkit-animation:Audio 1s  infinite  linear;
-moz-animation:Audio 1s  infinite  linear;
-o-animation:Audio 1s  infinite  linear;
animation:Audio 1s  infinite  linear;
}

.loading span:nth-of-type(2)
{
left: 15px;
-webkit-animation-delay: .2s;
-moz-animation-delay: .2s;
-o-animation-delay: .2s;
animation-delay: .2s;
  
}
.loading span:nth-of-type(3)
{
left: 30px;
-webkit-animation-delay: .4s;
-moz-animation-delay: .4s;
-o-animation-delay: .4s;
animation-delay: .4s;
}
.loading span:nth-of-type(4)
{
left: 45px;
-webkit-animation-delay: .6s;
-moz-animation-delay: .6s;
-o-animation-delay: .6s;
animation-delay: .6s;
}
.loading span:nth-of-type(5)
{
left: 60px;
-webkit-animation-delay: .8s;
-moz-animation-delay: .8s;
-o-animation-delay: .8s;
animation-delay: .8s;
}

-webkit-@keyframes Audio
{
    0% ,50%,100%
{
height: 20px;
transform: translateY();
background-color: #d711f5;
box-shadow: 20px 0 3px rgba(0,0,0,0.2);
}
25%
{
height: 80px;
transform: translateY(20px);
background-color: #5616e7;
box-shadow: 20px 0 3px rgba(0,0,0,0.3);
}
  
}
-moz-@keyframes Audio
{
    0% ,50%,100%
{
height: 20px;
transform: translateY();
background-color: #d711f5;
box-shadow: 20px 0 3px rgba(0,0,0,0.2);
}
25%
{
height: 80px;
transform: translateY(20px);
background-color: #5616e7;
box-shadow: 20px 0 3px rgba(0,0,0,0.3);
}
  
}
-o-@keyframes Audio
{
    0% ,50%,100%
{
height: 20px;
transform: translateY();
background-color: #d711f5;
box-shadow: 20px 0 3px rgba(0,0,0,0.2);
}
25%
{
height: 80px;
transform: translateY(20px);
background-color: #5616e7;
box-shadow: 20px 0 3px rgba(0,0,0,0.3);
}
  
}
@keyframes Audio
{
    0% ,50%,100%
{
height: 20px;
transform: translateY();
background-color: #d711f5;
box-shadow: 20px 0 3px rgba(0,0,0,0.2);
}
25%
{
height: 80px;
transform: translateY(20px);
background-color: #5616e7;
box-shadow: 20px 0 3px rgba(0,0,0,0.3);
}
  
}
/*End Wave Audio Loading*/



